doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(defer src='https://use.fontawesome.com/releases/v5.3.1/css/all.css')
    script(src='http://localhost:4201/livereload.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js")
    script(src="/socket.io/socket.io.js")
    if user
      script.
        var user = {
          name: `#{user.displayName}`,
          img: `#{user.photos}`
        }
    block styles
    block scripts
  body
    include partials/header 
    block content
    
  
