extends layout
block content
  h1.display-4.m-b-2 Login
      form(method='POST' action='/profile')
        div.form-group
        label(for='name') Username:
        input#name.form-control(type='text', placeholder='Insert Username' name='name')
        div.form-group
          label(for='name') Password:
          input#name.form-control(type='password', placeholder='Insert Password Here' name='name')
        button.btn.btn-primary(type='submit') Login
      form
        a.btn.btn-spotify(href="/auth/spotify") Login with Spotify